INSTANCE_TYPE=web-server
DOMAIN=pulse.orangebit.dev
HEALTH_PORT=9443
ENABLE_CERT_CHECK=true
MASTER_URL=https://pulse.orangebit.dev:3000
HOST_REG_TOKEN=replace_me
HOST_KEY=host-001
METRICS_INTERVAL_MS=10000
INCLUDE_DOCKER_CONTAINERS=false
DOCKER_CONTAINERS_LIMIT=20
DOCKER_CONTAINERS_INTERVAL_MS=60000
INCLUDE_PROCESSES=true
PROCESSES_LIMIT=50
PROCESSES_INTERVAL_MS=30000
PROCESS_COMMAND_MAX_LENGTH=240
